.hover-brillo {
  line-height: 1;
  transition: all 0.3s ease-in-out;
}

.hover-brillo:hover {
  color: #fff;
  text-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff, 0 0 20px #00ffff;
}

.hover-brillo1 {
  line-height: 1;
  transition: all 0.3s ease-in-out;
  padding-left: 10rem;
 text-align: left;

}

.overlay1 h1{
  margin-top: -5vh;
}

.hover-brillo1:hover {
  color: #fff;
  text-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff, 0 0 20px #00ffff;
}

.linkStyle:hover {
  color: #00ffff;
  text-shadow: 0 0 5px #00ffff;
  transform: scale(1.05);
}

.linkStyle {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.hover-brillo3:hover {
  filter: brightness(1.4);
  transition: 0.3s ease;
}

.logo-hover {
  height: 30px;
  width: 50px;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.logo-hover:hover {
  transform: scale(1.5);
}

.navLinks {
  display: flex;
  gap: 1.5rem;
}

.socialLinks {
  display: flex;
  gap: 1.5rem;
  margin-right: 15vw;
}

.sobreMi {
  padding-left: 10rem;
  padding-top: 5rem;
  background: black;
  background-Size: cover;
   text-align: left;
  background-repeat: no-repeat;
  color: white; 
}

.overlay { 
  background-color: rgba(0,0,0,0.5);
   height: 100%;
   font-size: 3.2rem;
    line-Height: 0.6;
    width: 100%;
    top: 0;
    position: absolute
   
  }

.overlay6 {
   font-size: 1.5rem;
}
 
.hero {
  padding-Top: 0.8rem;
    color: white;
    text-Align: center;
    display: flex;
    justify-Content: center;
    background-Size: contain;
    align-Items: center;
 position: relative;
     min-Height: 40vh 
}


.servicios {
  padding-top: 3rem;
  padding: 1rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white
}
.overlay9 {
  background-color: rgba(0,0,0,0.5); 
  width: 100%; 
  height: 100%; 
  font-size: 1.5rem;
  padding: 1rem
}

@media (max-width: 768px) {
 

  .logo-hover {
    height: 25px !important;
    width: 40px !important;
  }
}

@media (max-width: 768px) {

  .overlay1 {
 font-size: 2.5rem;
 margin-top: 3rem;
 display: flex;
 justify-content: center;  /* Centra horizontalmente */
  align-items: center;  
   box-sizing: border-box;

  }
}


@media (max-width: 768px) {
  .sobreMi {
    padding-left: 1rem;
    font-size: 0.5rem;

  }

  .overlay6 {
    width: 100%;
    font-size: 1rem;
    height: 100%
  }

  .overlay h2 {
    font-size: 2rem;
  }

  .hover-brillo {
    font-size: 1rem;
    display: flex;
   line-height: 1;


  }
}

@media (max-width: 768px) {


  .servicios .overlay9 {
    width: 100%;
    font-size: 1.5rem;
    line-height: 1.4;
  }

  .titulo-servicio {
    margin-left: 0;
    font-size: 1.5rem;
  }

  .hover-brillo1 {
    font-size: 1rem;
     padding-left: 0rem;

  }
}



@media (max-width: 768px) {
  nav {
    white-space: nowrap;
    font-size: 1rem;
  }

  .hero {
  
    padding: 2rem 1rem;
    text-align: center;
  }

  .hero .overlay {
    font-size: 1rem;
  }
}


nav {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
   align-items: center;
   justify-content: space-between;
  padding: 1rem 2rem;
  flex-wrap: wrap;
  z-index: 1000;
}


@media (max-width: 768px) {


  .navLinks,
  .socialLinks {
    padding: 1rem 0;
    font-size: 0.8rem;
    gap: 1rem;
    margin-right: 5vw;

  }

  .linkStyle { 
      font-size: 0.8rem;

 
  }
}
